@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Poppins:wght@300&family=Raleway&display=swap");

body {
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");

  background-repeat: no-repeat;
  background-size: cover;

  font-family: "ABeeZee", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 400px;
  height: 500px;
  color: black;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(9px) saturate(180%);
  -webkit-backdrop-filter: blur(9px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.51);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.search-bar {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.632),
    rgba(255, 255, 255, 0.571)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  height: 25px;
  border-radius: 15px;
  padding-left: 8px;
}
p {
  font-size: 25px;
}
.weather-box {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 100px;
  color: black;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 40px;
  color: white;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255, 0.1),
    rgb(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37);
  border: 1px solid rgb(255, 255, 255, 0.18);
  border-radius: 15px;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
footer {
  display: flex;
  justify-content: center;
}
.img {
  position: relative;
  left: 1px;
  top: 10px;
  filter: grayscale(1) invert(1);
}
h1 {
  text-align: center;
  color: black;
}

.weather {
  text-align: center;
  font-size: 15px;
}
.location {
  text-align: center;
  margin-top: 20%;
  color: white;
  font-size: 40px;
}
.date {
  color: white;
  text-align: center;
}
.nextday {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  color: white;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255, 0.1),
    rgb(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37);
  border: 1px solid rgb(255, 255, 255, 0.18);
  border-radius: 15px;
}
h5 {
  text-align: center;
  color: white;

  padding: 0px;
}
@media (max-width: 900px) {
  .main {
    margin-top: 25%;
    width: 90vw;
  }
}
